* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #52489c;
  overflow: hidden;
}

div {
  width: 100px;
  height: 100px;
  background-color: #ebebeb;
  border-radius: 100%;
  transition: all 0.2s;
}

#ball {
  /* this is required for top and bottom positions to work */
  position: absolute;
  top: 50%;
  left: 50%;
}
