@import url(https://unpkg.com/sanitize.css);

colors {
	color: #532736;
	color: #1d5852;
	color: #077c49;
	color: #4f805f;
	color: #e19f31;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: #1d5852;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

header {
	font-family: 'Times New Roman', Times, serif;
	display: flex;
	flex-direction: column;
}

h1 {
	color: #e19f31;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 0;
}

.micro {
	font-weight: 300;
	font-size: 2rem;
}

h2 {
	position: relative;
	align-self: flex-end;
	color: #e19f31;
	font-size: small;
	font-weight: 100;
	margin: 0;
	padding-top: 0;
	top: -20px;
}

.by {
	font-size: x-small;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

p {
	margin-top: 0px;
	margin-bottom: 35px;
	font-weight: 200;
	font-size: small;
	text-align: center;
	background-color: #16423e;
	color: #93a89a;
	padding: 5px 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	margin: 0.5rem;
}

li a {
	color: white;
	text-decoration: none;
	padding: 5px;
	border: 1px solid transparent;
	transition: all 0.5s;
}

li a:hover {
	color: #e19f31;
	border: 1px solid #e19f31;
	padding: 5px;
	transition: all 0.1s ease-out;
}

li a:active {
	background-color: #e19f31;
	color: #532736;
	transition: all 0.1s;
}

/* footer */

footer {
	display: flex;
	justify-content: flex-end;
	background-color: #16423e;
	color: #e19f31;
	padding: 5px 20px;
	width: 100%;
}

footer a {
	color: #e19f31;
}
